In [ ]:
# A4. Read the given data “churn.csv” and save it as a dataframe called churn_data. 
# Perform following operations on the dataframe
# i) Count total number of duplicate records in the dataframe 
# ii) Count the no. of duplicate records in the churn dataframe based on the cutomerID column 
# iii) Count number of missing values in each columns 
# iv) Count the total no. of missing values for the variable TotalCharges  
# v) Average monthly charge paid by a customer for the services he/she has signed up for 
# vi) Display the records having “1@#” under the variable Dependents  
# vii) Replace null values in churn dataframe by median value or by max count class category    
# (https://drive.google.com/file/d/1JSYGIIkIZr4jyheDEH0X1_TMSnQ2CzXc/view)

In [41]:
import pandas as pd
df=pd.read_csv('churn.csv')
# print(df)
df.head()

,Unnamed: 0,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,gender,SeniorCitizen,...,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Churn
0,1,8260-NGFNY,One,Month-to-month,No,Mailed check,25.2,25.20,Female,0.0,...,No,No phone service,DSL,No,No,No,No,No,No,Yes
1,2,2359-QWQUL,39,One year,Yes,Credit card (automatic),104.7,4134.85,Female,0.0,...,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Yes
2,3,6598/RFFVI,2,One year,No,Credit card (automatic),19.3,28.30,Male,0.0,...,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Yes
3,4,IXSTS-8780,6,Month-to-month,Yes,Electronic check,90.1,521.30,Female,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,Yes,No,Yes
4,5,2674/MIAHT,Four,Month-to-month,Yes,Mailed check,80.3,324.20,Female,0.0,...,Yes,Yes,Fiber optic,No,Yes,No,No,No,No,No

In [43]:
# i) Count total number of duplicate records in the dataframe 
duplicate_count=df.duplicated().sum()
print(f"\n number of duplicate records :{duplicate_count}")

 number of duplicate records :0

In [45]:
# ii) count the number of duplicate records based on customerID column

# duplicate_customer_id=df.duplicated(subset=['customerID']).sum()
duplicate_customer_id=df['customerID'].duplicated().sum()
print(f"number of duplicate reocrds based on 'customerID' column:{duplicate_customer_id}")

number of duplicate reocrds based on 'customerID' column:7

In [21]:
# iii)count the number of missing values in each column

missing_values_per_column=df.isnull().sum()
print("\n number of missing values in each column:")
print(missing_values_per_column)

 number of missing values in each column:
Unnamed: 0           0
customerID           0
tenure               0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges      10
TotalCharges        15
gender               0
SeniorCitizen        5
Partner              0
Dependents           0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Churn                0
dtype: int64

In [23]:
# iv) count the total number of missing values for total charges
missing_values_total_charges=df['TotalCharges'].isnull().sum()
print(f"\n total number of missing values for 'totalcharges':{missing_values_total_charges}")

 total number of missing values for 'totalcharges':15

In [25]:
# v)calculate the avergae monthly charges
average_monthly_charge=df['MonthlyCharges'].mean()
print(f"\n average monthly charges:{average_monthly_charge}")

 average monthly charges:62.47348178137652

In [49]:
# vi)display records where 'dependents' is "1@#"
filtered_records=df[df['Dependents']=='1@#']
print("\n records with 'Dependents' equal to '1@#':")
print(filtered_records)

# filtered_records=df.query("Dependents=='1@#'")
# print(filtered_records)

 records with 'Dependents' equal to '1@#':
     Unnamed: 0  customerID tenure        Contract PaperlessBilling  \
89           90  1754-GKYPY     22  Month-to-month              Yes
125         126  9108-EQPNQ     10        Two year               No
174         175  2640-PMGFL     27  Month-to-month              Yes
220         221  8854-CCVSQ     18  Month-to-month              Yes
234         235  6876-ADESB    One  Month-to-month               No
238         239  1972-XMUWV     65        Two year              Yes

                 PaymentMethod  MonthlyCharges  TotalCharges  gender  \
89   Bank transfer (automatic)           89.75       1938.90    Male
125    Credit card (automatic)           26.10        225.55  Female
174           Electronic check           79.50       2180.55    Male
220           Electronic check           80.65       1451.90    Male
234           Electronic check           48.95         48.95    Male
238    Credit card (automatic)           59.80       3808.20  Female

     SeniorCitizen  ... PhoneService MultipleLines InternetService  \
89             1.0  ...          Yes            No     Fiber optic
125            0.0  ...          Yes           Yes              No
174            0.0  ...          Yes           Yes     Fiber optic
220            0.0  ...          Yes           Yes     Fiber optic
234            0.0  ...          Yes            No             DSL
238            0.0  ...          Yes            No             DSL

          OnlineSecurity         OnlineBackup     DeviceProtection  \
89                    No                   No                   No
125  No internet service  No internet service  No internet service
174                   No                   No                   No
220                   No                  Yes                   No
234                   No                   No                  Yes
238                   No                   No                   No

             TechSupport          StreamingTV      StreamingMovies Churn
89                    No                  Yes                  Yes    No
125  No internet service  No internet service  No internet service    No
174                  Yes                   No                   No   Yes
220                   No                   No                   No   Yes
234                   No                   No                   No   Yes
238                  Yes                  Yes                   No    No

[6 rows x 22 columns]

In [29]:
# vii) Replace null values in churn dataframe by median value or by max count class category    
new_df=df.fillna(df.median(numeric_only=True))
new_df=df.fillna(df.mode().iloc[0])
missing_values_per_column=new_df.isnull().sum()
print(new_df.isnull().sum())

Unnamed: 0          0
customerID          0
tenure              0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Churn               0
dtype: int64

In [31]:
print("the original column is:")
print(new_df['MonthlyCharges'])
x=new_df['MonthlyCharges']
print("the replaced column is :")
x.replace(25.20,25)

the original column is:
0       25.20
1      104.70
2       19.30
3       90.10
4       80.30
        ...
252     18.85
253     20.60
254     20.60
255     20.60
256     20.60
Name: MonthlyCharges, Length: 257, dtype: float64
the replaced column is :

0       25.00
1      104.70
2       19.30
3       90.10
4       80.30
        ...
252     18.85
253     20.60
254     20.60
255     20.60
256     20.60
Name: MonthlyCharges, Length: 257, dtype: float64